<span class="btnEditFormBack">Назад</span>
<div id="editDescript-alert"></div>
<form th:object="${task}">
    <label for="taskDescriptionEdit">Изменить задачу</label>
    <input type="text" th:field="*{description}" id="taskDescriptionEdit" />
    <br>
    <label for="taskStatusEdit">Статус</label>
    <select class="form-select" id="taskStatusEdit">
        <option th:each="key : ${statusMap.keySet()}"
                th:value="${key}"
                th:data-value="${statusMap.get(key)}"
                th:utext="${statusMap.get(key)}">
        </option>
    </select>
    <input type="hidden" th:field="*{id}" id="taskIdEdit" />
    <input type="hidden" th:field="*{status}" id="taskStatusIdEdit" />
    <br>
    <span class="ajaxUpdateTask  btn btn-sm btn-primary" id="btnUpdate">Сохранить</span>
</form>

<script>
    $(document).ready(function () {
        let statusValue;
        let taskStatusIdEdit = $('#taskStatusIdEdit').val();
        $('#taskStatusEdit option').each(function () {
            let testValue = $(this).data('value');
            if (testValue == taskStatusIdEdit) {
                statusValue = $(this).val();
            }
        });
        console.log(statusValue);
        $("#taskStatusEdit").val(statusValue);
        updateTask();
        editFormBack();
    });
</script>