<table>
  <tr>
    <th>ИД</th>
    <th>Описание</th>
    <th>Статус</th>
    <th> </th>
    <th> </th>
  </tr>
  <tr th:each="task, iStat: ${tasks.content}">
    <td th:text="${task.getId()}"></td>
    <td th:text="${task.getDescription()}"></td>
    <td th:text="${task.getStatus()}"></td>
    <td><span class="btnEdit" th:data-id="${task.getId()}">Редактировать</span></td>
    <td><span class="btnDelete" th:data-id="${task.getId()}">Удалить</span></td>
  </tr>
</table>
<div th:if="${tasks.totalPages > 0}" class="pagination"
     th:each="pageNumber : ${pageNumbers}">
  <a th:href="@{/tasks(size=${tasks.size}, page=${pageNumber})}"
     th:text="${pageNumber}"
     th:class=" ${pageNumber==tasks.number + 1} ? active"
     th:classappend="ajaxPagination"></a>
</div>
<script>
  $(document).ready(function () {
    editTask();
    deleteTask();

    $(".ajaxPagination").unbind("click");
    $(".ajaxPagination").bind("click", function () {

      let url = $(this).attr("href")

      $.ajax({
        url: url,
        dataType: "html",
        beforeSend: function (data) {
          $('#ajax-tasks').html('');
        },
        success: function (data) {
          $('#ajax-tasks').html(data);
        }
      });
      return false;
    });
  });
</script>