<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>ToDoList JR 5-1</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/bootstrap.css"/>
  <script type="text/javascript" src="/js/jquery-3.6.0.js"></script>

</head>

<body>
<div class="container text-center">
  <h3 class="text-center fw-bold m-2">ToDoList JR 5-1</h3>
  <br/>
  <hr/>
  <div class="row">
    <div class="col">
    </div>
    <div class="col">
      <div id="ajax-tasks">
        <!--  ajax-content here-->
      </div>
      <br/>
      <hr/>
    </div>
    <div class="col">
    </div>
  </div>
  <div class="row">
    <div class="col">
    </div>
    <div class="col">
      <div id="ajax-form">
        <!--  ajax-content here-->
      </div>
      <br/>
      <hr/>
    </div>
    <div class="col">
    </div>
  </div>
</div>

  <script type="text/javascript" src="/js/core.js"></script>
  <script>
    $(document).ready(function () {
      loadTasks();
      loadForm();
    });
  </script>
</body>

</html>